IDE/VS2010_TEST/Simulator/Debug/
IDE/VS2010_TEST/GroupManager/Debug/
IDE/VS2010_TEST/Debug/
IDE/VS2010_TEST/GroupManager/GroupManager.sdf
IDE/VS2010_TEST/GroupManager/GroupManager.sln.docstates.suo
IDE/VS2010_TEST/Simulation.opensdf
IDE/VS2010_TEST/Simulation.sln.docstates.suo
IDE/VS2010_TEST/Simulation.suo
IDE/VS2010_TEST/Simulationv11.sln
IDE/VS2010_TEST/Simulator/Simulator.vcxproj.user
IDE/VS2010_TEST/ipch/groupmanager-b37860cb/2.ipch
IDE/VS2010_TEST/ipch/simulator-d2ec10fb/1.ipch
IDE/VS2010_TEST/Simulation.sdf
IDE/VS2010_TEST/ipch/
*.ipch
IDE/VS2010_TEST/GroupManager/GroupManager.vcxproj.user



IDE/VS2010/GroupManager/GroupManager.vcxproj.user
TestApp/InProcClientWrapper.o
TestApp/InProcServerWrapper.o
TestApp/OCLib.a
TestApp/OCPlatform.o
TestApp/OCReflect.o
TestApp/OCResource.o
TestApp/tgmclient
TestApp/tgmclient.o
TestApp/tgmserver
TestApp/tgmserver.o
SourceCode/tgmtest
IDE/LINUX_TEST/tgmtest
inc4.7/
.settings/
.cproject
.project
TestApp/introspection/tgmclient
TestApp/introspection/introspectionServer