# Ignore output dirs
/release
/csdk/release
/csdk/libcoap-4.1.1/release/
/examples/release

/debug
csdk/debug/
csdk/libcoap-4.1.1/debug/
/examples/debug
csdk/stack/samples/linux/SimpleClientServer/debug/


# Ignore any object files
*.o
*.obj


# Ignore Eclipse workspace files
*.settings/
*.cproject
*.project

# Ignore dependencies folder, which should be generated
/dependencies
