.metadata
Debug
SA_Report
.cproject
.exportMap
.tproject
*.o
*.os
*.so
*.so.*
nbproject
.sconsign.dblite
node_modules
junk
Code
iotivity/build
iotivity.js/build
npm-debug.log
iotivity-node
startbootstrap
